[submodule "src/odom_tf_publisher"]
	path = src/odom_tf_publisher
	url = https://github.com/itsmevjnk/odom_tf_publisher.git
[submodule "src/timestamp_fixer"]
	path = src/timestamp_fixer
	url = https://github.com/itsmevjnk/timestamp_fixer.git
[submodule "src/path_projector"]
	path = src/path_projector
	url = https://github.com/itsmevjnk/ros2_path_projector.git
[submodule "src/nav2_goal_cancel"]
	path = src/nav2_goal_cancel
	url = https://github.com/itsmevjnk/nav2_goal_cancel.git
[submodule "src/pose_publisher"]
	path = src/pose_publisher
	url = https://github.com/itsmevjnk/ros2_pose_publisher.git
